@use "../../styles/mixin";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--color-smoky-black);
  color: var(--color-white);
  border-radius: 17px;
  margin: 10px;
  overflow: hidden;
  opacity: 0;

  .logo {
    opacity: 0;
    margin-left: 1rem;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      background-color: var(--color-raisin-black);
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 10px;
      border-radius: 10px;
      padding: 15px;
      li {
        margin: 0 10px;
        a {
          color: var(--color-white);
          text-decoration: none;
          font-size: 0.8rem;
        }
      }
    }
  }
  .signup {
    padding: 10px 20px;
    background-color: var(--color-white);
    color: var(--color-black);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 15px;
    width: 100px;
  }

  &.active {
    @include mixin.animate-fadeInUp(1s, 500ms, 2rem);
    .logo {
      @include mixin.animate-fadeInUp(1s, 650ms, 1rem);
    }
    nav {
      @include mixin.animate-fadeInUp(1s, 650ms, 1rem);
      ul {
        li {
          @include mixin.animate-fadeInUp(1s, 750ms, 1rem);
        }
      }
    }
    .signup {
      @include mixin.animate-fadeInUp(1s, 650ms, 1rem);
    }
  }
}
