@use "../../../styles/mixin";

.features {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  width: calc(100vw - 20%);

  .main-title {
    font-size: 8rem;
    font-weight: 400;
    overflow: hidden;
    span.words,
    font {
      display: inline-flex;
      gap: 1rem;
    }
    &.active {
      .word {
        @include mixin.animate-fadeInUp(1s, 400ms, 5rem);
        @include mixin.item-delays(10, 200);
      }
      font {
        @include mixin.animate-fadeInUp(1s, 100ms, 5rem);
      }
    }
  }

  .feature-cards {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    gap: 1rem;
    .feature-card {
      border-radius: 20px;
      padding: 2rem;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-bright-grey);
      position: relative;
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      .content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: relative;
        .top-section {
          display: flex;
          justify-content: center;
          padding-top: 4rem;
          margin-bottom: 2rem;

          .sub-card {
            border: 1px solid var(--color-bright-grey);
            background-color: var(--color-white);
            border-radius: 20px;
            box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            padding: 2rem;
            text-align: center;
            > h4 {
              font-weight: 400;
              margin: 0;
              font-size: 1rem;
            }
          }
          .conversion-card {
            background-color: var(--color-lotion-grey);
            margin-top: -2rem;
            margin-bottom: 2rem;
            margin-right: -1rem;
            > p {
              font-size: 1rem;
              color: var(--color-grey-2);
            }
            .conversion-rate-card {
              display: flex;
              margin: 1rem 0;
              border-radius: 10px;
              font-size: 3rem;
              padding: 1rem;
              text-align: center;
              position: relative;
              z-index: 1;
              .graph-icon {
                position: absolute;
                top: -10px;
                left: -10px;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: var(--color-anti-flash-white);
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                  width: 1rem;
                  height: 1rem;
                  path {
                    fill: var(--color-grey-2);
                  }
                }
              }
              h4 {
                margin: 0;
                font-size: 4rem;
                font-weight: 500;
              }
              &:before {
                background-color: var(--color-sunglow-yellow);
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                border-radius: 10px;
                z-index: -1;
                transition: width 0.5s ease-in-out;
              }
            }
          }
          .revenue-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            > h4 {
              color: var(--color-grey-2);
            }
            > h2 {
              font-size: 2rem;
              font-weight: 500;
              span {
                font-size: 1.5rem;
              }
            }
            .revenue-bars {
              display: flex;
              width: 100%;
              gap: 5px;
              display: inline-flex;
              margin: 1rem 0;
              span {
                height: 5px;
                border-radius: 5px;
                &.green {
                  background-color: var9--color-emerald-green;
                }
                &.yellow {
                  background-color: var(--color-sunglow-yellow);
                }
                &:nth-child(1) {
                  width: 50px;
                }
                &:nth-child(2) {
                  width: 70px;
                }
                &:nth-child(3) {
                  width: 50px;
                }
              }
            }
            .revenue-table {
              display: flex;
              flex-direction: column;
              margin-top: 0.5rem;
              gap: 0.5rem;
              .revenue-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.8rem;
                .left-section {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  svg {
                    width: 2rem;
                    height: 2rem;
                  }
                  p {
                    color: var(--color-grey-2);
                  }
                }
                .right-section {
                  font-weight: 500;
                }
              }
              .revenue-total {
                display: flex;
                border-top: 1px solid var(--color-bright-grey-2);
                justify-content: space-between;
                padding-top: 1rem;
                margin-top: 1rem;

                font-weight: 500;
                font-size: 0.9rem;
                color: var(--color-grey-2);

                .right-section {
                  color: var(--color-black);
                }
              }
            }
          }
          .cards-stack {
            display: flex;
            flex-direction: column;
            position: relative;
            .sub-card {
              position: absolute;
              top: 4.5rem;
              left: 50%;
              width: 400px;
              min-height: 100px;
              transform: translateX(-50%);
              display: flex;
              padding: 1rem;
              flex-direction: row;
              &:nth-child(1) {
                top: 0;
                width: 300px;
              }
              &:nth-child(2) {
                top: 1rem;
                width: 350px;
              }

              .left-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                flex: 1 1 40%;
                .title-section {
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  .icon {
                    background-color: var(--color-anti-flash-white);
                    display: inline-flex;
                    justify-content: center;
                    align-content: center;
                    padding: 10px;
                    border-radius: 10px;
                    svg {
                      width: 0.8rem;
                      height: 0.8rem;
                    }
                  }
                }
                .text-section {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;
                  margin-top: auto;
                  text-align: left;
                  h3 {
                    font-size: 2rem;
                    font-weight: 500;
                    font {
                      font-size: 1.5rem;
                      margin-right: 5px;
                      font-weight: normal;
                    }
                  }
                  h4 {
                    font-size: 1rem;
                    color: var(--color-grey-2);
                    margin: 0;
                    font-weight: 500;
                  }
                  .btn {
                    margin-top: 1rem;
                    font-size: 0.8rem;
                    background-color: var(--color-sunglow-yellow);
                    border: none;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0px 3px 6px 0px var(--color-light-grey);
                  }
                }
              }
              .right-section {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 60%;
              }
            }
          }
        }
        .bottom-section {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
          > h3 {
            font-size: 2rem;
            font-weight: 400;
          }
          > p {
            font-size: 1.2rem;
          }
        }
      }
      &::before {
        background-color: var(--color-ghost-white);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: var(--color-ghost-white);
        background-image: linear-gradient(
            to right,
            var(--color-bright-grey) 1px,
            transparent 1px
          ),
          linear-gradient(
            to bottom,
            var(--color-bright-grey) 1px,
            transparent 1px
          );
        background-size: 80px 80px;
        z-index: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      &.active {
        .conversion-card {
          @include mixin.animate-translateLeft(1s, 600ms, 2rem);
          .graph-icon {
            @include mixin.animate-scaleUp(1s, 1, "center", 200ms, 0.5);
          }
          .conversion-rate-card {
            &:before {
              animation: widthScale 1s linear 600ms forwards;
            }
          }
        }
        .revenue-card {
          @include mixin.animate-translateRight(1s, 600ms, -2rem);
          .revenue-bars {
            span {
              &:nth-child(1) {
                @include mixin.animate-widthScaleUp(
                  1s,
                  600ms,
                  50px,
                  "first-child-scale-up"
                );
              }
              &:nth-child(2) {
                @include mixin.animate-widthScaleUp(
                  1s,
                  600ms,
                  70px,
                  "second-child-scale-up"
                );
              }
              &:nth-child(3) {
                @include mixin.animate-widthScaleUp(
                  1s,
                  600ms,
                  50px,
                  "third-child-scale-up"
                );
              }
            }
          }
        }
      }
    }
  }
}

@keyframes widthScale {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
